<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
<key>CFBundleName</key>
<string>Burp Suite Professional</string>
<key>CFBundleExecutable</key>
<string>JavaApplicationStub</string>
<key>CFBundleIconFile</key>
<string>app.icns</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleIdentifier</key>
<string>com.install4j.7318-9294-3757-1226.70</string>
<key>CFBundleVersion</key>
<string>2021.3.1</string>
<key>CFBundleShortVersionString</key>
<string>2021.3.1</string>
<key>CFBundleGetInfoString</key>
<string>2021.3.1</string>
<key>CFBundleDevelopmentRegion</key>
<string>en</string>
<key>NSHighResolutionCapable</key>
<true/>
<key>LSHasLocalizedDisplayName</key>
<true/>

<!-- I4J_INSERT_DOCTYPE -->
<key>CFBundleDocumentTypes</key>
<array>
<dict>
<key>CFBundleTypeExtensions</key>
<array>
<string>burp</string>
</array>
<key>CFBundleTypeName</key>
<string>Burp Suite Project File</string>
<key>CFBundleTypeIconFile</key>
<string>i4j_extf_7_1dgj151_uyvyor.icns</string>
<key>CFBundleTypeRole</key>
<string>Editor</string>
</dict>
</array>
<!-- I4J_INSERT_URLTYPE -->
<key>i4j.baseDir</key>
<string>$APP_PACKAGE/Contents/Resources/app/</string>
<key>LSMinimumSystemVersion</key>
<string>10.11</string>
<key>i4j.appId</key>
<string>7318-9294-3757-1226</string>
<key>i4j.allowPassthrough</key>
<true/>
<key>i4j.minVersion</key>
<string>12.0.2</string>
<key>i4j.maxVersion</key>
<string></string>
<key>i4j.vmIdPrefix</key>
<string></string>
<key>JavaVM</key>
<dict>
<key>MainClass</key>
<string>com.install4j.runtime.launcher.MacLauncher</string>
<key>VMOptionArray</key>
<array>
<string>-Dfile.encoding=UTF-8</string>
<string>-noverify</string>
<string>-javaagent:$APP_PACKAGE/Contents/Resources/app/BurpSuitePro2_Loader.jar</string>
<string>--add-opens</string>
<string>java.base/java.lang=ALL-UNNAMED</string>
<string>--add-opens</string>
<string>java.base/javax.crypto=ALL-UNNAMED</string>
<string>--add-opens</string>
<string>java.desktop/javax.swing=ALL-UNNAMED</string>
<string>-Dinstall4j.launcherId=70</string>
<string>-Dinstall4j.swt=false</string>
<string>-Dexe4j.moduleName=$APP_PACKAGE</string>
</array>
<key>OptionsFile</key>
<string>$APP_PACKAGE/Contents/vmoptions.txt</string>
<key>ArgumentArray</key>
<array>
</array>
<key>SearchSequence</key>
<array>
<string>Y</string>
<string>EJAVA_HOME</string>
<string>EJDK_HOME</string>
</array>
<key>VersionInfo</key>
<string>0_183916422</string>
<key>SplashFile</key>
<string>$APP_PACKAGE/Contents/Resources/app/.install4j/s_1o7fa9s.png</string>
<key>ClassPath</key>
<string>$APP_PACKAGE/Contents/Resources/app/.install4j/i4jruntime.jar:$APP_PACKAGE/Contents/Resources/app/burpsuite_pro.jar</string><!-- I4J_INSERT_CLASSPATH -->
<key>WorkingDirectory</key>
<string>$APP_PACKAGE/Contents/Resources/app/./.</string>
</dict>
</dict>
</plist>
